.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

/******* header ********/

h1 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: pink;
	font-size: 50px;
	font-weight: 800;
	text-align: center;
}


/****** nav ********/

nav {
	font-size: 15px;
	text-align: center;
	font-weight: 400;
}


.nav { 
display: inline-block;
padding: 10px;
 }


.top {
	text-decoration: none;
	color: black;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

.top:hover {
	color: #E89FA2;
	font-family: 'Playfair Display', serif;
	font-weight: 400i;
}

.topa {
	text-decoration: none;
	color: #E89FA2;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}





/*** sections ***/

section {
	text-align: center;
	margin: 0 auto;
	max-width: 1000px;
	column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

article {
	text-align: center;
	max-width: 500;
	margin: 10px;
	display: inline-block;
	column-span: all;
}

img {
	max-width: 500px;
}

.imgwrap {
  position: relative;
  max-width: 500px;
  height: auto;
}

.imgdesc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-top: 47%;
  padding: 0px 10px
  font-weight: 400;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  line-height: 30px;
}


.imgwrap:hover .imgdesc {
  visibility: visible;
  opacity: 1;
}


.bottom {
	text-decoration: underline;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;

}

footer {
	max-width: 990px;
	width: 100%;
	margin: 10px;
	font-family: 'Playfair Display', serif;
}


/**** responsive ******/


@media screen and (max-width: 550px) {

	.top {
		font-size: 0.8em;
	}


	.top:hover {
		padding: 9px 8px 7px 8px;
	}

	.nav { 
        padding: 8px; 
 }

